
:root {
	--color-docs-sorter-elem-bkg-n:#EEE;
	--color-docs-sorter-elem-txt-n:#000;
	--color-docs-sorter-elem-bkg-h:#DFDFDF;
	--color-docs-sorter-elem-bkg-s:#DDD;
	--color-docs-sorter-elem-bkg-sh:#DFDFDF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-docs-sorter-elem-bkg-n:#444;
		--color-docs-sorter-elem-txt-n:#EEE;
		--color-docs-sorter-elem-bkg-h:#555;
		--color-docs-sorter-elem-bkg-s:#848484;
		--color-docs-sorter-elem-bkg-sh:#726565;
	}
}


/* DOCS */
a.docs { display:block; }
a.docs:before { content:attr(data-order) ". "; }
a.docs[data-level="1"]:before {}
a.docs[data-level="2"]:before { margin-left:15px; }
a.docs[data-level="3"]:before { margin-left:30px; }
a.docs[data-level="4"]:before { margin-left:45px; }
a.docs[data-level="5"]:before { margin-left:60px; }

/* Doc Single */
#documentPost article .title { font-size:3rem; }
#documentPost .adv_text { font-size:1.7rem; }


site-adm-pages-docs-structure {}
site-adm-pages-docs-structure .action_menu { position:-webkit-sticky; position:sticky; top:0; }
site-adm-pages-docs-structure .menu { display:flex; justify-content:space-between; }
site-adm-pages-docs-structure .elem { padding:5px; cursor:pointer; background:var(--color-docs-sorter-elem-bkg-n); color:var(--color-docs-sorter-elem-txt-n); }
site-adm-pages-docs-structure .elem > .content { display:flex; justify-content:space-between; }
site-adm-pages-docs-structure .elem .title { flex:1; margin-right:20px; }
site-adm-pages-docs-structure .elem:hover { background:var(--color-docs-sorter-elem-bkg-h); }
site-adm-pages-docs-structure .elem.sel { background:var(--color-docs-sorter-elem-bkg-s); }
site-adm-pages-docs-structure .elem.sel:hover { background:var(--color-docs-sorter-elem-bkg-sh); }
site-adm-pages-docs-structure .elem:before { float:left; content:attr(data-order) "."; margin-right:5px; font-weight:bold; width:1.5em; }
site-adm-pages-docs-structure .elem[data-level="1"]:before {}
site-adm-pages-docs-structure .elem[data-level="2"]:before { margin-left:1.5em; }
site-adm-pages-docs-structure .elem[data-level="3"]:before { margin-left:3.0em; }
site-adm-pages-docs-structure .elem[data-level="4"]:before { margin-left:4.5em; }
site-adm-pages-docs-structure .elem[data-level="5"]:before { margin-left:6.0em; }
site-adm-pages-docs-structure .elem[data-level="6"]:before { margin-left:7.5em; }
site-adm-pages-docs-structure .elem[data-level="7"]:before { margin-left:9.0em; }
site-adm-pages-docs-structure .elem input { margin:0; color:inherit; }
site-adm-pages-docs-structure .elem input[name="title"] { width:100%; background:transparent; border:0; border-bottom:1px solid #333; }
site-adm-pages-docs-structure .elem button { padding:4px; border-radius:2px; }
site-adm-pages-docs-structure .elem button:hover { background-color:#BBB; }