se-site-diagram-build { display:flex; gap:20px; }
se-site-diagram-build > div { flex:1; }
se-site-diagram-build textarea { width:100%; height:70vh; border:1px solid #CCC; padding:1em; border-radius:0.2em; overflow:auto; }
se-site-diagram-build #graphElement { border:2px solid #FFF; border-radius:3px; padding:10px; min-height:30vh; }