#iconList {
	--iconSelector-color-bkg-n:#F5F5F5;
	--iconSelector-color-bkg-s:#DDD;
	--iconSelector-color-bkg-h:#EEE;
	--iconSelector-color-bkg-hs:#CCC;
	--iconSelector-color-txt-n:#000;
	--iconSelector-color-txt-s:#000;
	--iconSelector-color-txt-h:#000;
	--iconSelector-color-txt-hs:#000;
}

@media (prefers-color-scheme: dark) {
	#iconList {
		--iconSelector-color-bkg-n:#333;
		--iconSelector-color-bkg-s:#555;
		--iconSelector-color-bkg-h:#222;
		--iconSelector-color-bkg-hs:#666;
		--iconSelector-color-txt-n:#EEE;
		--iconSelector-color-txt-s:#EEE;
		--iconSelector-color-txt-h:#EEE;
		--iconSelector-color-txt-hs:#EEE;
	}
}
#iconList { display:flex; flex-wrap:wrap; gap:10px; }
#iconList[data-status="1"] .iconSelector[aria-selected="false"] { display:none; }
#iconList[data-status="2"] .iconSelector[aria-selected="true"] { display:none; }
#iconList .iconSelector { padding:10px; width:100px; border-radius:2px; cursor:pointer; background-color:var(--iconSelector-color-bkg-n); color:var(--iconSelector-color-txt-n); }
#iconList .iconSelector[aria-selected="true"] { background-color:var(--iconSelector-color-bkg-s); color:var(--iconSelector-color-txt-s); }
#iconList .iconSelector:hover { background-color:var(--iconSelector-color-bkg-h); color:var(--iconSelector-color-txt-h); }
#iconList .iconSelector[aria-selected="true"]:hover { background-color:var(--iconSelector-color-bkg-hs); color:var(--iconSelector-color-txt-hs); }
#iconList .iconSelector svg { display:block; margin-bottom:20px; aspect-ratio:1; width:80px; fill:currentColor; }
#iconList .iconSelector .content { display:block; text-align:center; font-weight:bold; font-size:1.2rem; }