/* Defaults */
:root {
	color-scheme: light dark;

	--color-main-00-norm-n:#FFF;
	--color-main-00-comp-n:#000;

	--color-main-01-norm-n:#44749D;
	--color-main-01-cont-n:#FFF;
	--color-main-01-norm-h:#9D6D44;
	--color-main-01-comp-h:#5C8EB8;

	--color-main-02-norm-n:#C6D4E1;
	--color-main-02-comp-n:#E1D3C6;
	--color-main-02-cont-n:#E1D3C6;

	--color-main-03-norm-n:#505050;
	--color-main-03-comp-n:#EEE;
	--color-main-03-norm-l:#393939;
	--color-main-03-comp-l:#DDD;
	--color-main-03-norm-h:#5F5F5F;
	--color-main-03-comp-h:#FFF;

	--color-main-04-norm-n:#DDD;
	--color-main-04-comp-n:#000;
	--color-main-04-norm-l:#F2F2F2;
	--color-main-04-comp-l:#222;
	--color-main-04-norm-h:#F2F2F2;
	--color-main-04-comp-h:#222;

	--color-main-05-norm-n:#DFDFDF;
	--color-main-05-comp-n:#222;
	--color-main-05-norm-l:#D0D0D0;
	--color-main-05-comp-l:#000;
	--color-main-05-norm-h:#EEE;
	--color-main-05-comp-h:#333;

	--color-main-06-norm-n:#F2F2F2;
	--color-main-06-comp-n:#222;
	--color-main-06-norm-l:#F2F2F2;
	--color-main-06-comp-l:#222;
	--color-main-06-norm-h:#F2F2F2;
	--color-main-06-comp-h:#222;

	--color-link-n:#039;
	--color-link-d:#06F;
	--color-link-h:#0099FF;

	--color-accent:#2B71DC;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-main-00-norm-n:#222;
		--color-main-00-comp-n:#EEE;

		--color-main-03-norm-n:#444;
		--color-main-03-comp-n:#EEE;
		--color-main-03-norm-l:#393939;
		--color-main-03-comp-l:#DDD;
		--color-main-03-norm-h:#5F5F5F;
		--color-main-03-comp-h:#FFF;

		--color-main-04-norm-n:#333;
		--color-main-04-comp-n:#FFF;
		--color-main-05-norm-l:#444;
		--color-main-05-comp-l:#CCC;
		--color-main-05-norm-n:#666;
		--color-main-05-comp-n:#F5F5F5;
		--color-main-05-norm-h:#777;
		--color-main-05-comp-h:#FFF;
	}

	.se_form {
		--color-input-border-n:#666;
		--color-input-bkg-n:#333;
		--color-input-txt-n:#FFF;

		--color-input-border-req-valid:#666;
		--color-input-bkg-req-valid:#333;
		--color-input-bkg-req-not-valid:#996565;

		--color-radio-label-hover:#444;
	}
}

/* Redefiniciones */
body { font-family:Arial, Helvetica, sans-serif; text-align:justify; font-size:1.4rem; }
h1, h2, h3, h4, h5, h6 { text-align:left; font-weight:normal; font-size:1rem; font-family:"Ubuntu",Helvetica,Arial,sans-serif; }
h1 { font-size:1.6rem; font-weight:bolder; margin-bottom:10px; }
h2 { font-size:1.4rem; font-weight:bold; margin-bottom:8px; }
h3 { font-size:1.4rem; font-style:italic; font-weight:bold; margin-bottom:5px; }
h4 { font-size:1.3rem; text-decoration:underline; margin-bottom:5px; }
h5 { font-size:1.3rem; margin-bottom:5px; }
a { cursor:pointer; text-decoration:none; color:var(--color-link-n); }
a:link { color:var(--color-link-d); }
a:hover { color:var(--color-link-h); }



/*
Estructura
------------------------------------------> */
html { accent-color:#00ACEE; }
html, body { min-height:100vh !important; height:100%; width:100%; }

/* login */
#loneWindowCont { display:flex; align-items:center; justify-content:center; height:100%; width:100%; }
#loneWindow { width:350px; height:400px; background-color:#FFF; border:thin solid #AAA; border-radius:3px; }
#loneWindow .title { font-weight:bold; padding:20px; background-color:#CCC; color:#333; }
#loneWindow .content { padding:20px; }


/* Menu Data */
.appLoader { height:100%; display:flex; flex-direction:column; gap:10px; padding:10px 0; }
#app_content { margin:0 10px; overflow:auto; flex:1; }

/* Menu Vertical 2 */
.se_menu_parent { position:relative; float:left; color:#FFF; height:100%; }
.se_menu_button { display:inline-flex; height:50px; min-width:50px; padding:10px; cursor:pointer; font-weight:bold; position:relative; align-items:center; }
.se_menu_button.icon { position:relative; display:table-cell; vertical-align:middle; text-align:center; }
.se_menu_button.icon .counter { position:absolute; top:2px; left:2px; background-color:rgba(0,0,0,0.45); color:#FFF; font-size:0.9rem; padding:3px 5px; border-radius:3px; }
.se_menu_button:hover { background:var(--color-main-03-norm-h); color:var(--color-main-03-comp-h); }
.se_menu_button.sel { background-color:#FFF; }
.se_menu_button.sel .text { color:#000; }
.se_menu_hidden { position:absolute; right:0; z-index:1000; display:none; width:300px; border:3px solid var(--color-main-03-norm-n); border-top:0; background:#FFF; color:#444; }
.se_menu_hidden a { color:#444 !important; }
.se_menu_hidden .head { display:block; overflow:auto; padding:5px; border-bottom:1px solid #CCC; }
.se_menu_hidden .head .title { display:block; float:left; font-weight:bold; }
.se_menu_hidden .head .opc { display:block; float:right; }
.se_menu_hidden .content { display:block; border-bottom:1px solid #CCC; min-height:100px; }
.se_menu_hidden a.seeAll { display:block !important; height:20px; background:#DDD; color:#444 !important; padding:5px 0; text-align:center; }
.se_menu_hover:hover { }
.se_menu_hover:hover .se_menu_hidden { display:block; }
.se_menu_button .img { display:inline-block; width:35px !important; height:35px !important; border-radius:4px; background-color:#FFF; }
.se_menu_button .text { color:#FFF; font-size:1.5rem; margin-left:10px; }
.se_menu_simple { width:auto; min-width:150px; }
.se_menu_simple a { color:#444; display:block; padding:10px; font-weight:bold; }
.se_menu_simple a:hover { background:#DDD; }

/* Menus secundarios */
#menubar_2 { display:block; width:100%; background:#F5F5F5; min-height:100px; color:#444; overflow:auto; }
#menubar_2 .subMenu { display:block; float:left; border-right:1px solid #CCC; overflow:auto; padding:10px; width:150px; }
#menubar_2 h1 { }
#menubar_2 a { display:block; color:#444; padding:3px 5px; }
#menubar_2 a:hover { display:block; color:#444; background:#EEE; }
#menubar_2 li { list-style:none; }

/* Menu terciario */
.nav3 { position:relative; background-color:var(--color-main-05-norm-n); color:var(--color-main-05-comp-n); font-size:1.3rem; width:100%; }
.nav3 .menuIcon { display:none; padding:10px; }
.nav3 .menu { display:flex; }
.nav3_menu_title { padding:8px 5px; }
.nav3_menu_subtitle { padding:8px 5px; border-bottom:1px solid var(--color-main-05-comp-n); margin-bottom:5px; font-weight:bold; color:var(--color-main-05-comp-n); }
.nav3_menu_subsection:not(:first-child) { margin-top:15px; }
.nav3_menu_parent { position:relative; }
.nav3_menu_button { display:block; cursor:pointer; font-weight:bold; background-color:var(--color-main-05-norm-n); color:var(--color-main-05-comp-n); }
.nav3_menu_button .icon { display:inline-block; width:20px; height:20px; }
.nav3_menu_button .text, .nav3_menu_button a { display:block; padding:10px 10px 8px; color:inherit; }
.nav3_menu_button .text::after { content:"▼"; margin-left:5px; }
.nav3_menu_button .text:hover, .nav3_menu_button a:hover { background-color:var(--color-main-05-norm-h); color:var(--color-main-05-comp-h); }
.nav3_menu_hidden { position:absolute; left:0; z-index:1000; display:none; min-width:200px; width:auto; border:3px solid var(--color-main-05-norm-h); border-top:0; background-color:var(--color-main-05-norm-n); color:var(--color-main-05-comp-n); }
.nav3_menu_hidden a { color:inherit; display:block; padding:5px; }
.nav3_menu_hidden a:hover { background-color:var(--color-main-05-norm-h); color:var(--color-main-05-comp-h); }
.nav3_menu_parent:hover .nav3_menu_hidden { display:flex; flex-direction:column; }
.nav3 a.sel { font-weight:bold; }


.nav4 {

	display:flex; justify-content:space-between; align-items:stretch; margin:0 0 10px 0; font-size:1.2rem; background:var(--color-main-05-norm-n); color:var(--color-main-05-comp-n);

	& > div { overflow:auto; }
	& .menuIcon { display:none; padding:10px; }
	& a { display:inline-block; padding:8px; color:var(--color-main-05-comp-n); }
	& a:hover { text-decoration:none; background:var(--color-main-05-norm-h); color:var(--color-main-05-comp-h); }
	& .breadcrumbs a + a:before { content:">"; display:inline; margin-right:10px; }
	& .normal { display:flex; }

	@media (max-width:480px) {
		display:flex; justify-content:space-between; position:relative;

		& .menuIcon { display:block; }
		& .menuContainer {}
		& .menu { position:absolute; right:0; top:35px; display:none; background-color:var(--color-main-05-norm-n); z-index:10; flex-direction:column; width:calc(100vw - 20px); border:2px solid #999; border-top:0; }
		& .menuContainer:hover .menu { display:flex; max-height:80vh; overflow-y:auto; }
		& .menuContainer:hover .menu > * { display:block; }
	}

}

@media (max-width:480px) {
	#se_vertical { display:none; }
	#se_body.menuShow #se_vertical { display:block; }

	.nav3 .menuIcon { display:block; }
	.nav3 .menu { position:absolute; display:none; background-color:var(--color-main-05-norm-n); z-index:10; flex-direction:column; width:calc(100vw - 20px); left:10px; border:2px solid #999; border-top:0; }
	.nav3:hover .menu { display:flex; max-height:80vh; overflow-y:auto; }
	.nav3:hover .menu > * { display:block; }

	.nav3_menu_hidden a:not(:first-of-type ) { border-top:1px solid var(--color-main-05-norm-h); }
	.nav3_menu_parent:not(:first-child) { border-top:1px solid var(--color-main-05-norm-h); }
	.nav3_menu_subtitle { padding:10px 20px; }
	.nav3_menu_button .text, .nav3_menu_button a { border:0; }

	.nav3_menu_hidden { background:var(--color-main-05-norm-h); position:inherit; border:0; }
	.nav3_menu_hidden a, .nav3_menu_hidden .nav3_menu_subtitle { padding:8px 20px; }
}

/* Títulos */
.appTitle { font-weight:bold; font-size:2.2rem; margin:0 10px; }
.pageTitle { font-weight:bold; font-size:2.0rem; margin:0 0 10px; }
.pageSubTitle { font-weight:bold; font-size:1.9rem; margin:0 0 10px; }



/*
Barra de carga
------------------------------------------> */
.fprog_con { position:relative; display:block; width:100%; height:20px; background:#CCC; border-radius:5px; }
.fprog_per { position:absolute; width:100%; height:20px; box-sizing:border-box; padding:3px; text-align:center; font-weight:bold; z-index:100; }
.fprog_bar { position:absolute; width:0; height:20px; border-radius:4px; background-color:#0C0; }
.fprog_bar.success { background-color:#0080C0; }
.fprog_bar.fail { background-color:#D20000; }

/* TODO: REPLACE THIS CLASS */
.verticalListObjects {
	display:flex;
	flex-direction:column;
	gap:1em;

	summary + * {
		padding:10px;
	}
}


/*
Botones
---------------------------------------->*/
.btn {
	--_color-bkg:#888;
	--_color-txt:#FFF;

	cursor:pointer;
	padding:0.5em;
	display:inline-block;
	border-radius:3px;

	background-color: var(--_color-bkg);
	color: var(--_color-txt) !important;

	&.fancy {
		padding: 5px 10px 7px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	}


	&.small { padding:3px 7px; }
	&.shadow { box-shadow:1px 1px 3px rgba(0, 0, 0, 0.6); }
	&.big { padding:8px 10px; }
	&.wide {
		display:block;
		padding:1em;
		font-weight:bold;
		box-sizing:border-box;
		width:100%;
		text-align:left;
	}

	&.red {
		--_color-txt:#FFF;
		--_color-bkg:#ff5050;
	}
	&.orange {
		--_color-txt:#FFF;
		--_color-bkg:#FFBC61;
	}
	&.green {
		--_color-txt:#FFF;
		--_color-bkg:#65B35B;
	}
	&.blue {
		--_color-txt:#FFF;
		--_color-bkg:#3778fd;
	}

	&:hover {
		background-color: hsl( from var(--_color-bkg) h s calc(l + 10) );
		color: hsl( from var(--_color-txt) h s calc(l + 10) );
	}
	&:active {
		background-color: hsl( from var(--_color-bkg) h s calc(l - 10) );
		color: hsl( from var(--_color-txt) h s calc(l - 10) );
	}
	&:disabled {
		background-color: hsl( from var(--_color-bkg) h s calc(l - 20) );
		color: hsl( from var(--_color-txt) h s calc(l - 20) ) !important;
		cursor: not-allowed;
	}
	&:focus {
		outline:2px solid #000;
	}
}

/* */
.btn_loadMore { border:#BBB 1px dashed; padding:10px; clear:both; cursor:pointer; text-align:center; }
.btn_loadMore:hover { background-color:#EEE; }
/* */
.hasProp { border-radius:50%; height:20px; width:20px; display:table-cell; text-align:center; vertical-align:middle; float:right; color:#FFF; }
.hasProp.s0 { background-color:#900; }
.hasProp.s0:before { content:"✘"; display:inline; }
.hasProp.s1 { background-color:#090; }
.hasProp.s1:before { content:"✔"; display:inline; }
/*
Tabs - Verticales
---------------------------------------->*/
#advForm { width:100%; display:block; overflow:auto; }
.se_tab > div[role="tablist"] > div { font-weight:bold; background-color:var(--color-main-05-norm-l); color:var(--color-main-05-comp-l); z-index:1; border-bottom: 1px solid var(--color-main-05-comp-l); }
.se_tab > div[role="tablist"] > div[aria-selected="true"] { background-color:var(--color-main-05-norm-l); color:var(--color-main-05-comp-l); border:1px solid var(--color-main-05-comp-l); border-bottom-color:var(--color-main-05-norm-l); }
.se_tab > div[role="tablist"] > div[aria-selected="false"]:hover { background:var(--color-main-05-comp-l); }
.se_tab > div[se-elem="panelGroup"] { border:1px solid var(--color-main-05-comp-l); background-color:var(--color-main-05-norm-l); color:var(--color-main-05-comp-l); }
.se_tab.vertical > div[role="tablist"] > div { border-top-left-radius:3px; border-top-right-radius:3px; margin-right:4px; padding:6px 10px; margin-bottom:-1px; }

.big_option {
	display: flex;
	flex-direction: column;
	gap:1em;
	max-width: 400px;
	margin: 0 auto;
}

/* OTROS ELEMENTOS */
.limiter { }
.notice { clear:both; padding:10px; margin:10px 0; border:black 1px dashed; background-color:#666; color:#FFF; }
.notice:empty { display:none; }
.pre { white-space:pre-wrap; }
.hSection { margin-bottom:20px; }

/* */
.sql_box { display:block; background-color:#FFF; border:1px solid #CCC; padding:10px; white-space:pre-line; text-align:left; border-radius:2px; font-family:Consolas,monospace; font-size:10px; }
/* Notificaciones */
.notif { overflow:auto; display:block; border-top:dotted 1px #DEDEDE; margin:0 0 10px 0; padding:3px 0 0 0; }
/* Reseñas */
.cReview { overflow:auto; display:block; border-top:solid 1px #DFDFDF; margin:0 0 10px 0; padding:10px 0 0 0; }
/* Elementos comentarios */
.over { background-color:rgba(100, 100, 100, 0.05); }
.mImg { float:left; margin:0 10px 0 0; }
.mData { overflow:auto; display:block; position:relative; }
.mElem { display:block; overflow:auto; }
.mElem + .mElem { margin:5px 0 0 0; }
.mTitle { margin:0 0 3px 0; font-weight:bold; }
.mData .desc { font-size:0.9rem; color:#666; }
.mContent { white-space:pre-line; text-align:justify; line-height:1.2; }
.mContent2 { white-space:pre-line; text-align:justify; line-height:1.2; min-height:30px; }
.nComment { width:97%; min-height:25px; }
.mOptions { font-size:0.9rem; }
.mDate { float:right; color:#999; }
.mDate2 { color:#999; margin:0 0 0 5px; }
/* Comments Cond */
.mData .mContent2 { min-height:20px; }
.mData .usS { width:35px; height:35px; }
/* Objeto flotatnte */
.mFMenu { visibility:hidden; position:absolute; right:0; top:0; margin:3px 3px 0 0; font-size:0.7rem; font-weight:bold; }
.mFMenu a { padding:3px; display:block; float:left; }
.mCMenuElem { border:1px solid #CCC; border-radius:3px; float:left; background-color:#EEE; position:relative; }
.mCMenuElem + .mCMenuElem { margin:0 0 0 5px; }
.mCMenuElem a:hover { background-color:#FFF; }
.mCMenuElem a + a { border-left:#CCC 1px solid; }
.msgMenuH { display:none; position:absolute; right:0; top:20px; border:1px solid #CCC; overflow:auto; min-width:50px; }
.msgMenuH a {}
.mRepPos { margin:0 0 0 5px; color:#090; }
.mRepNeg { margin:0 0 0 5px; color:#900; }
.msgRep:empty { display:none; }
.commentOver { }

/* */
.sideModule { display:block; border:1px solid var(--color-main-05-norm-h); margin-bottom:20px; }
.sideModule > .title { padding:10px; background-color:var(--color-main-04-norm-n); color:var(--color-main-04-comp-n); font-weight:bold; border-bottom:1px solid var(--color-main-05-norm-h); }
.sideModule > .content { padding:10px; }
.sideModule > .content img { display:block; max-width:100%; margin:0 auto 10px auto; border:1px solid #CCC; }

	/* TABLA QUERY */
.qForm {}
.qForm textarea { box-sizing:border-box; width:100%; }
/* Tabla Extendida */
.st_dualtab { width:100%; }
.st_dualtab td { padding:3px 0 3px 3px; text-align:right; vertical-align:top; }
.st_dualtab td:first-child { text-align:left; padding-left:0; padding-right:3px; }


/* TABLA AUTOADMIN */
.sortable, .sortable th, .sortable td { border:1px solid #CACACA; }
.sortable thead { background-color:#FFF; }
.sortable thead th { padding:5px; text-align:center; }
.sortable thead tr.st_noF th { background-color:#E2E2E2; }
.sortable thead th.st_noF:hover { background-color:#BBB; }
.sortable tbody { background-color:#FFFFFF; }
.sortable tbody td { background-color:#FFFFFF; padding:3px; }
.sortable tbody td.date { font-size:0.9rem; }
.sortable tbody tr:nth-child(2n) td { background-color:#F6F6F6; }
.sortable tbody tr:nth-child(10n) td { background-color:#E8F5FF; }
.sortable tbody tr:hover td { background:#B1EC8A; }
.sortable textarea { font-size:inherit; font-family:inherit; }

/* TABLA modTable */
.modTable {}
.modTable .tabBtn { display:inline-block; padding:6px 3px; border-radius:3px; }
.modTable .tabBtn:hover { background-color:#DDD; }
.modTable table { }
.modTable table, .modTable th, .modTable td { border:1px solid #CACACA; }
.modTable thead { background-color:#FFF; }
.modTable thead th { padding:5px; text-align:center; }
.modTable thead th input, .modTable thead th select { box-sizing:border-box; width:100%; }
.modTable thead tr.filters th { background:#FFF; color:#000; }
.modTable thead tr.titles th { background:#DDD; color:#000; }
.modTable thead tr.titles th.sortable { cursor:pointer; }
.modTable thead tr.titles th.sortable:hover { background-color:#EEE; }
.modTable thead tr.titles th.sortable.asc:before { content:"▲"; }
.modTable thead tr.titles th.sortable.des:before { content:"▼"; }
.modTable tbody { background-color:#FFF; }
.modTable tbody td { background-color:#FFF; padding:3px; }
.modTable tbody tr:nth-child(2n) td { background-color:#F6F6F6; }
.modTable tbody tr:hover td { background:#B1EC8A; }
.modTable tbody tr.new td { background:#AED7FF; }
.modTable .checkboxProxy { display:block; height:8px; width:8px; background-color:#FFF; border:2px solid #000; margin:0 auto; }
.modTable .checkboxProxy.sel_0 { }
.modTable .checkboxProxy.sel_1 { background-color:#999; }

/* FORM */
form .correct { color:#009; }
form .incorrect { color:#900; }
form .gray { color:#CCC; }
#firstname { visibility:hidden; }

/* tableLessForm */
.tabLessForm input, .tabLessForm textarea { box-sizing:border-box; width:100%; padding:10px; }
.tabLessForm input[type="checkbox"], .tabLessForm input[type="radio"], .tabLessForm input[type="button"], .tabLessForm input[type="submit"] { width:auto; }
.tabLessForm .elem + .elem { margin:10px 0 0 0;}
.tabLessForm input[type="button"], .tabLessForm input[type="submit"] { padding:5px; background:#EEE; border:1px solid #666; border-radius:3px; color:#000; cursor:pointer; }
.tabLessForm input[type="button"]:hover, .tabLessForm input[type="submit"]:hover { background:#DDD; }


/* iFrame Support */
#mask { position:fixed; width:100%; height:100%; margin:0; border:0; top:0; left:0; z-index:auto; display:table; visibility:hidden; overflow:hidden; }
#white { position:fixed; width:100%; height:100%; margin:0; border:0; top:0; left:0; background-color:#FFF; opacity:0.7; }
#container { position:relative; border:1px solid black; background-color:#FFF; width:800px; height:600px; padding:10px; top:50px; margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto; }
iframe { width:100%; height:100%; border:0; }

/* Blog */
.pStatus { display:inline-block; height:20px; width:20px; border-radius:50%; background-color:#CCC; }
.pStatus.s0 { background-color:#1ec21c; }
.pStatus.s1 { background-color:#2335c1; }
.pStatus.s2 { background-color:#dd3426; }



/*
-------------------------------------------------------
JQUERY PLUGINS
-------------------------------------------------------
*/
/* image-crop */
div#image-crop-overlay { background-color:#ffffff; overflow:hidden; }
div#image-crop-outline { background:#ffffff url("outline.gif"); overflow:hidden; }
div#image-crop-size-hint-background { background-color:#000000; }
span#image-crop-size-hint-foreground { color:#ffffff; font-family:"Verdana", "Geneva", sans-serif; font-size:12px; text-shadow:0 -1px 0 #000000; }
div#image-crop-preview-holder { border:3px #ef2929 solid; box-shadow:0 0 5px #000000; }
img#image-crop-preview { border:none; }
div.image-crop-resize-handler { background-color:#000000; border:1px #ffffff solid; height:7px; overflow:hidden; width:7px; }

/*
Ventanas
------------------------------------------> */
.win_main { border:2px solid #000; background-color:#FFF; border-radius:4px; }
.win_header { background-color:#368EE0; color:#FFF; }
.win_header .title { }
.win_header .close { border:1px solid #FFF; }
.win_header .close:hover { background-color:#52A5F7; }
.win_content {}
