
/*
ADMINISTRACIÓN
Menu
---------------------------------------->*/

.seWW_panels {
	--panel-color-border-1:#AAA;
	--panel-color-border-2:#DDD;
	--panel-color-bkg-n:#F5F5F5;
	--panel-color-bkg-h:#C2D5F2;
	--panel-color-txt-n:#333;
}
.seWW_form {
	--form-color-border-1:#AAA;
	--form-color-bar-bkg:#DDD;
	--form-color-bkg-n:#D5D5D5;
	--form-color-bkg-h:#C2D5F2;
	--form-color-txt-n:#333;
	--form-color-txt-h:#333;
}

.seWW_container {
	--textarea-bkg-color:#FFF;
	--textarea-txt-color:#000;
}

.seWW_form_simple {
	--form-bkg-color:#EEE;
	--form-txt-color:#000;
}

@media (prefers-color-scheme: dark) {
	.seWW_panels {
		--panel-color-border-1:#AAA;
		--panel-color-border-2:#DDD;
		--panel-color-bkg-n:#444;
		--panel-color-bkg-h:#536363;
		--panel-color-txt-n:#EEE;
	}
	.seWW_form {
		--form-color-border-1:#111;
		--form-color-bar-bkg:#000;
		--form-color-bkg-n:#333;
		--form-color-bkg-h:#222;
		--form-color-txt-n:#EEE;
		--form-color-txt-h:#DDD;
	}

	.seWW_container {
		--textarea-bkg-color:#000;
		--textarea-txt-color:#FFF;
	}

	.seWW_form_simple {
		--form-bkg-color:#444;
		--form-txt-color:#EEE;
	}
}


.seWW_container { position:relative; font-weight:normal; }
.seWW_container .seWW_form_pre { display:none; border:1px solid #999; padding:10px; margin:0; background-color:var(--textarea-bkg-color); color:var(--textarea-txt-color); font-size:16px !important; box-sizing:border-box; word-wrap:break-word; white-space:pre-wrap; min-height:600px; height:100%; font-family:monospace, monospace; line-height:1.2; }
.seWW_container img { min-width:40px; min-height:40px; position:relative; display:block; max-width:100%; }
.seWW_container img:before { content: "We're sorry, the image below is broken :("; display: block; margin-bottom: 10px; }
.seWW_container img:after { content:"(url: " attr(src) ")"; display:block; font-size:12px; }

.seWW_form { display:none; position:fixed; overflow:auto; z-index:500; top:0; left:0; opacity:0.85; min-height:100px; min-width:400px; background:var(--form-color-bar-bkg); border:1px solid var(--form-color-border-1); font-size:14px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; line-height:100%; }
.seWW_form:hover { opacity:1; }
.seWW_form div[role="tablist"] { height:24px; padding:0 5px; cursor:move; }
.seWW_form div[role="tab"] { float:left; height:26px; padding:4px 8px; font-weight:bold; background:var(--form-color-bkg-n); border:1px solid var(--form-color-border-1); color:var(--form-color-txt-n); cursor:pointer; }
.seWW_form div[role="tab"][data-type="2"]:not(.active) { display:none; }
.seWW_form div[role="tab"][aria-selected="true"] { display:block; background:var(--form-color-bkg-h); border:1px solid var(--form-color-border-1); border-bottom:0; color:var(--form-color-txt-h); }

.seWW_panels { border-top:1px solid var(--panel-color-border-1); margin:1px 0 0 0; background-color:var(--panel-color-bkg-n); color:var(--panel-color-txt-n); min-height:85px; }
.seWW_panels div[role="tabpanel"] { display:flex; flex-direction:row; overflow:auto; padding:5px; }
.seWW_panels div[role="tabpanel"][aria-hidden="true"] { display:none; }
.seWW_panels .subMenu { padding:5px; height:80px; font-size:1.3rem; }
.subMenu + .subMenu { border-left:1px solid var(--panel-color-border-2); }
.seWW_panels .subMenu .actions { display:block; overflow:auto; height:60px; }
.seWW_panels .subMenu .subElTitle { display:block; text-align:center; height:20px; font-size:1.4rem; font-weight:normal; margin:0; }
.seWW_panels .subMenu .but { display:inline-block; float:left; margin:0 2px 2px 0; border-radius:3px; text-align:center; padding:4px; cursor:pointer; font-size:13px; }
.seWW_panels .subMenu .but:hover { background-color:var(--panel-color-bkg-h); }
.seWW_panels .subMenu .sep { clear:left; }
.seWW_panels .subMenu .break { clear:left; }
/* */
.seWW_mOps { display:block; float:right; margin:3px 0 0 0; }
.seWW_menuReturn { display:none; width:18px; height:18px; background:#BBB;color:#333; border-radius:3px; cursor:pointer; align-items:center; justify-content:center; }
.seWW_panels.form { padding:8px; }
.seWW_panels.form .title { display:block; font-weight:bold; }
.seWW_panels.form label { display:inline-block; min-width:55px; margin-right:5px; }
.seWW_panels.form input[type=button] { display:inline-block; border:1px solid #AAA; background-color:#DDD; border-radius:3px; padding:0 3px; cursor:pointer; }
.seWW_panels.form input[type=button]:hover { background-color:#EEE; }
/*
Formulario
---------------------------------------->*/
.seWW_form { display:block; }
.seWW_form form { display:table; width:100%; font-size:12px; }
.seWW_form label { display:table-row; width:100%; min-width:300px; margin-bottom:10px; }
.seWW_form label .el_title { display:table-cell; padding:5px 10px 5px 0; }
.seWW_form input, .seWW_form textarea { display:table-cell; box-sizing:border-box; width:100%; text-align:left; border-radius:2px; padding:3px; border:1px solid #666; font-size:inherit; }
.seWW_form input[type="submit"], .seWW_form input[type="button"] { cursor:pointer; }
.seWW_form input[type="submit"]:hover, .seWW_form input[type="button"]:hover { cursor:pointer; background:#DDD; }
.seWW_form input[type="checkbox"], .seWW_form input[type="radio"], .seWW_form input[type="button"], .seWW_form input[type="submit"] { width:auto; }
.seWW_form input[type="submit"]:disabled, .seWW_form input[type="button"]:disabled, .seWW_form input[type="submit"]:disabled:hover, .seWW_form input[type="button"]:disabled:hover { cursor:default; background:#CCC; color:#EEE; }
.seWW_form_simple { display:flex; height:30px; background:var(--form-bkg-color); border:1px solid var(--form-txt-color); color:var(--form-txt-color); -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
.seWW_form_simple .but { display:inline-flex; align-items:center; padding:0 10px; cursor:pointer; }
.seWW_form_simple .but + .but { border-left:1px solid #CCC; }
.seWW_form_simple .but:hover { background-color:#C2D5F2; }
.seWW_form .c_input { display:flex; border-radius:2px; border:1px solid #666; }
.seWW_form .c_input input { flex:1; border:0; padding :2px; }
.seWW_form .c_input *:not(input) { padding:3px; background-color:#EEE; font-weight:bold; }
/*
Editor
---------------------------------------->*/
.html5Wysiwyg { box-shadow:inset 0 0 2px #666; font-size:1.6rem; position:relative; min-height:600px; max-height:80vw; max-width:min(100%,1200px); overflow:auto; }
.html5Wysiwyg:focus { box-shadow:inset 0 0 2px #0CF; }
.html5Wysiwyg:focus style { display:block; font-family:"courier new", Courier, monospace; white-space:pre; margin:0 0 10px 0; padding:10px; border:1px solid #FFB6FF; min-height:14px; background-color:#FFE6FF; }
.html5Wysiwyg:focus style:after { content:"style"; position:absolute; right:0; margin-top:25px; color:#FFB6FF; padding:2px; border:1px solid #FFB6FF; z-index:100; }
.html5Wysiwyg:focus script { display:block; font-family:"courier new", Courier, monospace; white-space:pre; margin:0 0 10px 0; padding:10px; border:1px solid #0F0; background:#C4FFC4; min-height:14px; }
.html5Wysiwyg:focus script:after { content:"script"; position:absolute; right:0; margin-top:25px; color:#0F0; padding:2px; border:1px solid #0F0; z-index:100; }
.html5Wysiwyg:focus .gr_grid { min-height:50px; outline:1px solid #CAFFCA; }
.html5Wysiwyg:focus .wpContent { min-height:30px; overflow:auto; outline:1px solid #91C8FF; }