
/* Notifications */
.sticky-queue { display:flex; flex-direction:column; gap:5px; position:fixed; width:300px; z-index:1000; }
.sticky-queue .sticky { display:block; position:relative; border:1px solid #CCC; border-radius:5px; background-color:#F5F5F5; color:#555; box-shadow:2px 2px 2px #BBB; padding:10px; }
.sticky-queue .sticky .sticky-close { position:absolute; top:10px; right:10px; height:14px; width:14px; cursor:pointer; background-color:#FFF; }

.sticky-queue .notif { display:flex; align-items:flex-start; overflow:auto; clear:both; }
.sticky-queue .notif .icon { height:50px; width:50px; text-align:center; margin-right:15px; }
.sticky-queue .notif .icon img { display:block; max-width:100%; border-radius:3px; }
.sticky-queue .notif .text { display:flex; flex-direction:column; flex:1; gap:10px; }
.sticky-queue .notif .title { font-weight:bold; }
.sticky-queue .notif .desc { flex:1; }
.sticky-queue .notif .time { font-size:0.8em; }

.sticky-queue.top-right { right:20px; }
.sticky-queue.top-left { left:20px; }
.sticky-queue.top-right, .top-left { top:-2px; border-radius:6px; }
.sticky-queue.bottom-right { right:20px; }
.sticky-queue.bottom-left { left:20px; }
.sticky-queue.bottom-right, .bottom-left { bottom:5px; border-radius:6px; }
.sticky-queue.border-top-right, .border-top-left { border-top:1px solid #999; }
.sticky-queue.border-bottom-right, .border-bottom-left { border-bottom:1px solid #999; margin-bottom:10px; }
