/* Text format for Markdown */
.adv_text {
	& { text-align:justify; line-height:1.8em; }
	&:first-child { margin-top:0; }
	& img { display:block; clear:both; float:none; width:100%; height:auto; }
	& img.gOIB { margin:0 0 10px 0; }
	& img.gOIC { margin:0 auto 10px auto; }
	& img.gOIL { margin:0 10px 10px 0; float:left; }
	& img.gOIR { margin:0 0 10px 10px; float:right; }
	& ol, & ul { padding-left:1.0em; }
	& p { margin-bottom:1em; margin-top:1em; }
	& h1, & h2, & h3, & h4, & h5, & h6 { margin-bottom:1em; margin-top:1.2em; line-height:1.5em; }
	& h1 { font-size:2.0em; font-weight:bold; }
	& h2 { font-size:1.7em; font-weight:bold; }
	& h3 { font-size:1.6em; font-weight:bold; font-style:italic; }
	& h4 { font-size:1.5em; font-weight:bold; text-decoration:underline; }
	& h5 { font-size:1.4em; font-style:italic; }
	& h6 { font-size:1.3em; text-decoration:underline; font-weight:normal; }
	& figure { margin:1em 0; }
	& .videoWrapper { margin:10px 0; }
	& figcaption { display:block; margin:0 10px; }
	& figcaption p { margin:0; }
	& figcaption p.credit { text-align:right; font-size:0.9em; font-style:italic; }
	& picture { display:block; width:100%; }
	& figure.quote { background-color:#F5F5F5; border-radius:5px; padding:10px; font-style:italic; color:#000; }
	& figure blockquote { border-bottom:1px solid #666; margin:0 0 10px 0; padding:0 0 10px 0; }
	& figure.quote figcaption { text-align:left; font-weight:bold; }
	& figure.quote figcaption:before { content:'-'; }
	& figure table { display:table; border-collapse:collapse; }
	& figure table thead tr th { padding:5px; text-align:center; font-weight:bold; }
	& figure table td { padding:5px; }
	& figure table.border, & figure table.border th, & figure table.border td, & figure table.border .thead > * > *, & figure table.border .tbody > * > *, & figure table.border .tfoot > * > * { border:1px solid #DDD; vertical-align:middle; }
	& figure table.alternate tbody tr:nth-child(2n) td, & figure table.alternate .tbody > *:nth-child(2n) > * { background-color:#F6F6F6; }
	& figure table.wide { width:100%; }
	& figure table.fixed { table-layout:fixed; }
	& .notification .content { white-space:normal; }
	& .notification .content p { margin:5px; }
}