
/*
ajaxSearch
---------------------------------------->*/
.se_filter { display:block; min-height:300px; background-color:#f5f5f5; padding:10px; }
.se_filter .current:empty { display:none; }
.se_filter .current { padding-bottom:10px; border-bottom:1px solid #bbb; margin-bottom:10px; }
.se_filter .cFilter {}
.se_filter .available {}
.se_filter .filElem { display:block; }
.se_filter .filElem + .filElem { margin-top:10px; }
.se_filter .filElem .title { font-weight:bold; display:block; margin-bottom:3px; }
.se_filter .filElem ul {}
.se_filter .filElem li { list-style:none; display:block; cursor:pointer; padding:2px 3px; margin-bottom:2px; }
.se_filter .filElem li:hover { background-color:#fff; color:#666; }
.se_filter .current li { list-style:none; display:block; cursor:pointer; padding:4px 6px; border-radius:3px; margin-bottom:2px; background-color:#666; color:#eee; }
.se_filter .current li:after { content:'X'; float:right; }
.se_filter .current li:hover { background-color:#fff; color:#666; }
.se_filter input { border-radius:2px; padding:3px; }
.filterContent {}