/* */
.grid { display:-ms-flexbox; display:flex; flex-wrap:wrap; gap:20px; }
.grid > * { -ms-flex:1; flex:1 1 0; box-sizing:border-box; }
.grid > *.gr_sz12 { flex:0 0 100%; }
.grid > *.gr_sz11 { flex:0 0 auto; width:calc((100% + 20px) * 11 / 12 - 20px); }
.grid > *.gr_sz10 { flex:0 0 auto; width:calc((100% + 20px) * 10 / 12 - 20px); }
.grid > *.gr_sz09 { flex:0 0 auto; width:calc((100% + 20px) * 09 / 12 - 20px); }
.grid > *.gr_sz08 { flex:0 0 auto; width:calc((100% + 20px) * 08 / 12 - 20px); }
.grid > *.gr_sz07 { flex:0 0 auto; width:calc((100% + 20px) * 07 / 12 - 20px); }
.grid > *.gr_sz06 { flex:0 0 auto; width:calc((100% + 20px) * 06 / 12 - 20px); }
.grid > *.gr_sz05 { flex:0 0 auto; width:calc((100% + 20px) * 05 / 12 - 20px); }
.grid > *.gr_sz04 { flex:0 0 auto; width:calc((100% + 20px) * 04 / 12 - 20px); }
.grid > *.gr_sz03 { flex:0 0 auto; width:calc((100% + 20px) * 03 / 12 - 20px); }
.grid > *.gr_sz02 { flex:0 0 auto; width:calc((100% + 20px) * 02 / 12 - 20px); }
.grid > *.gr_sz01 { flex:0 0 auto; width:calc((100% + 20px) * 01 / 12 - 20px); }
.grid > *.gr_ps11 { margin-left:calc((100% + 20px) * 11 / 12); }
.grid > *.gr_ps10 { margin-left:calc((100% + 20px) * 10 / 12); }
.grid > *.gr_ps09 { margin-left:calc((100% + 20px) * 09 / 12); }
.grid > *.gr_ps08 { margin-left:calc((100% + 20px) * 08 / 12); }
.grid > *.gr_ps07 { margin-left:calc((100% + 20px) * 07 / 12); }
.grid > *.gr_ps06 { margin-left:calc((100% + 20px) * 06 / 12); }
.grid > *.gr_ps05 { margin-left:calc((100% + 20px) * 05 / 12); }
.grid > *.gr_ps04 { margin-left:calc((100% + 20px) * 04 / 12); }
.grid > *.gr_ps03 { margin-left:calc((100% + 20px) * 03 / 12); }
.grid > *.gr_ps02 { margin-left:calc((100% + 20px) * 02 / 12); }
.grid > *.gr_ps01 { margin-left:calc((100% + 20px) * 01 / 12); }
.grid > *.gr_main { flex:1; }
.grid > *.gr_sec { flex:0; }
/*  */
.grid.multirow > * { margin-bottom:20px; }
.grid.multirow.mr2 > * { width:calc((100% + 20px) / 2 - 20px); }
.grid.multirow.mr3 > * { width:calc((100% + 20px) / 3 - 20px); }
.grid.multirow.mr4 > * { width:calc((100% + 20px) / 4 - 20px); }
.grid.multirow.mr5 > * { width:calc((100% + 20px) / 5 - 20px); }
.grid.multirow.mr6 > * { width:calc((100% + 20px) / 6 - 20px); }
.grid.multirow.mr2 > *:nth-child(2n+1), .grid.multirow.mr3 > *:nth-child(3n+1), .grid.multirow.mr4 > *:nth-child(4n+1), .grid.multirow.mr5 > *:nth-child(5n+1), .grid.multirow.mr6 > *:nth-child(6n+1) { margin-left:0; }
.grid.center { justify-content:center; }
.grid.split { justify-content:space-between; }
.grid.split > .gr_left { flex:0 0 auto; align-items:flex-start; }
.grid.split > .gr_right { flex:0 0 auto; align-items:flex-end; }
.show_mobile { display:none; }

@media only screen and (max-width:767px) {
	.grid { flex-direction:column; }
	.grid > * { flex:1 !important; width:100% !important; margin:0 !important; }
	.hidden_mobile { display:none !important; visibility:collapse; }
	.hidden_tablet { display:none; }
	.show_mobile { display:block; }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
	.grid.full { display:block; overflow:auto; }
	.grid.full > * { flex:1; display:block; overflow:auto; margin-left:0; width:100% !important; margin-bottom:20px; }
	.hidden_mobile, .hidden_tablet { display:block; }
}

/* Grid */
.se_grid { display:grid; grid-gap:20px; grid-auto-rows:1fr; grid-template-columns:1fr; }
.se_grid > * { margin:0 !important; }
.se_grid.gr_el_2 { grid-template-columns:1fr 1fr; }
.se_grid.gr_el_3 { grid-template-columns:1fr 1fr 1fr; }
.se_grid.gr_el_4 { grid-template-columns:1fr 1fr 1fr 1fr; }

/* */
@media only screen and (max-width:767px) {
	.se_grid.gr_el_2, .se_grid.gr_el_3, .se_grid.gr_el_4 { display:block; }
	.se_grid.gr_el_2 > * + *, .se_grid.gr_el_3 > * + *, .se_grid.gr_el_4 > * + * { margin-top:20px !important; }
}
@media only screen and (min-width:768px) and (max-width:1199px) {
	.se_grid.gr_el_3 { grid-template-columns:1fr 1fr; }
	.se_grid.gr_el_4 { grid-template-columns:1fr 1fr 1fr; }
}

/* Columns */
.se_column_3 { column-count:3; column-gap:20px; }
.se_column_4 { column-count:4; column-gap:20px; }
/* */
@media only screen and (max-width:720px) {
	.se_column_4 { column-count:3; }
}
@media only screen and (max-width:480px) {
	.se_column_3 { column-count:1; }
	.se_column_4 { column-count:2; }
}