/* - INI:RESET - */
html { font-size:62.5%; scroll-behavior:smooth; }
body { left:0; top:0; right:0; bottom:0; }
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
button { border:0; }
table { border-collapse:collapse; border-spacing:0; }
template { display:none; }
input, button, select, textarea { font-family:inherit; font-size:inherit; line-height:inherit; box-sizing:border-box; background-color:var(--color-main-00-norm-n); color:var(--color-main-00-comp-n); }
button, select { text-transform:none; }
button { user-select:none; -webkit-user-select:none; overflow:visible; background:none; cursor:pointer; display:inline-block; }
img[src=""] { display:none !important; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
ul, ol { padding-left:1.5em; }
a { text-decoration: none; }
/* - END:RESET- */
