
.template_grid_borders {
	display:grid !important;

	--padding-inline: var(--template-padding, 20px);
	--content-max-width:  var(--template-content-max-width, 1000px);
	--breakout-max-width: var(--template-breakout-max-width, 1100px);

	--breakout-size: calc(
		(var(--breakout-max-width) - var(--content-max-width)) / 2
	);

	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr)
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width) )
		[content-end] minmax(0, var(--breakout-size))
		[breakout-end] minmax(var(--padding-inline), 1fr)
		[full-width-end]
	;

	& > *, & > .gr-subgrid > *, & .gr-content {
		grid-column: content;
	}

	& .gr-fullwidth {
		grid-column: full-width;
	}

	& .gr-breakout {
		grid-column: breakout;
	}

	& .gr-subgrid {
		display:grid;
		grid-template-columns: subgrid;
	}
}

.template_grid_12 {
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	gap:1rem;

	--_span-init:0;
	--_span-width:1;

	& > .span-01 {
		--_span-width:1;
	}
	& > .span-02 {
		--_span-width:2;
	}
	& > .span-03 {
		--_span-width:3;
	}
	& > .span-04 {
		--_span-width:4;
	}
	& > .span-05 {
		--_span-width:5;
	}
	& > .span-06 {
		--_span-width:6;
	}
	& > .span-07 {
		--_span-width:7;
	}
	& > .span-08 {
		--_span-width:8;
	}
	& > .span-09 {
		--_span-width:9;
	}
	& > .span-10 {
		--_span-width:10;
	}
	& > .span-11 {
		--_span-width:11;
	}
	& > .span-12 {
		--_span-width:12;
	}
	& > .push-01 {
		--_span-init:1;
	}
	& > .push-02 {
		--_span-init:2;
	}
	& > .push-03 {
		--_span-init:3;
	}
	& > .push-04 {
		--_span-init:4;
	}
	& > .push-05 {
		--_span-init:5;
	}
	& > .push-06 {
		--_span-init:6;
	}
	& > .push-07 {
		--_span-init:7;
	}
	& > .push-08 {
		--_span-init:8;
	}
	& > .push-09 {
		--_span-init:9;
	}
	& > .push-10 {
		--_span-init:10;
	}
	& > .push-11 {
		--_span-init:11;
	}
	& > .push-12 {
		--_span-init:12;
	}
	& > * { 
		grid-column: var(--_span-init) / span var(--_span-width);
	}

	@media ( width < 768px ) {
		& { display:flex; flex-direction: column; gap:1rem; }
	}
}
