/* Tabs */
.se_tab { display:flex; }
.se_tab > div[role="tablist"] { display:flex; }
.se_tab > div[role="tablist"] > div { cursor:pointer; }
.se_tab > div[se-elem="panelGroup"] { padding:5px; overflow:auto; flex:1; }
.se_tab > div[se-elem="panelGroup"] > div[aria-hidden="true"] { display:none; }
.se_tab.horizontal { flex-direction:row; }
.se_tab.horizontal > div[role="tablist"] { flex-direction:column; }
.se_tab.vertical { flex-direction:column; }
.se_tab.vertical > div[role="tablist"] { flex-direction:row; }
