
.se_wide_container { width:100%; overflow-y:auto; }


.se_table {
	--color-titles-bkg:#E2E2E2;
	--color-titles-txt:#222;
	--color-body-normal-bkg:#FFF;
	--color-body-normal-txt:#000;
	--color-body-even-bkg:#F6F6F6;
	--color-body-even-txt:#222;
	--color-body-highlight-bkg:#E2E2E2;
	--color-body-highlight-txt:#222;
	--color-border:#DDD;
	--color-selectable-hover:#6cff66;
	--color-selectable-sel:#ccc;
	--color-selectable-mod:#FBFF76;
}


@media (prefers-color-scheme: dark) {
	.se_table {
		--color-titles-bkg:#555;
		--color-titles-txt:#FFF;
		--color-body-normal-bkg:#222;
		--color-body-normal-txt:#FFF;
		--color-body-even-bkg:#333;
		--color-body-even-txt:#FFF;
		--color-body-highlight-bkg:#E2E2E2;
		--color-body-highlight-txt:#222;
		--color-border:#444;
		--color-selectable-hover:#2FB12A;
		--color-selectable-sel:#ccc;
		--color-selectable-mod:#E3E51C;
	}
}

/* Tabla 01 - Bordes */
.se_table { display:table; border-collapse:collapse; box-sizing:border-box; }
.se_table .thead { display:table-header-group; }
.se_table .tbody { display:table-row-group; }
.se_table .tfoot { display:table-footer-group; }
.se_table .filters input, .se_table .filters select { width:100%; box-sizing:border-box; }

.se_table .thead > *, .se_table .tbody > *, .se_table .tfoot > * { display:table-row; }
.se_table .thead > * > *, .se_table .tbody > * > *, .se_table .tfoot > * > * { display:table-cell; }
.se_table thead tr th, .se_table .thead > * > * { padding:5px; text-align:center; font-weight:bold; }
.se_table thead tr.filters th, .se_table .thead > .filters > * { padding:2px; }
.se_table thead tr.titles th, .se_table .thead > .titles > * { background-color:var(--color-titles-bkg); color:var(--color-titles-txt); }
.se_table thead tr.titles th.sortable, .se_table .thead > .titles > *.sortable { cursor:pointer; }
.se_table thead .sortable[data-sort="asc"]:after, .se_table .thead .sortable[data-sort="asc"]:after { content:'▲'; }
.se_table thead .sortable[data-sort="desc"]:after, .se_table .thead .sortable[data-sort="desc"]:after { content:'▼'; }
.se_table tbody td, .se_table .tbody > * > * { background-color:var(--color-body-normal-bkg); color:var(--color-body-normal-txt); padding:3px; }
/* Modifiers */
.se_table.border, .se_table.border th, .se_table.border td, .se_table.border .thead > * > *, .se_table.border .tbody > * > *, .se_table.border .tfoot > * > * { border:1px solid var(--color-border); vertical-align:middle; }
.se_table.alternate tbody tr:nth-child(2n) td, .se_table.alternate .tbody > *:nth-child(2n) > * { background-color:var(--color-body-even-bkg); }
.se_table.wide { width:100%; }
.se_table.fixed { table-layout:fixed; }
.se_table.sticky-header { border-collapse:separate; }
.se_table.sticky-header thead, .se_table.sticky-header .thead { position:sticky; top:0; z-index:2; }
.se_table.selectable {}
.se_table.selectable tbody tr, .se_table.selectable .tbody > * { cursor:pointer; }
.se_table.selectable tbody tr:hover td, .se_table.selectable .tbody > *:hover > * { background-color:var(--color-selectable-hover); }
.se_table.selectable tbody tr.sel td, .se_table.selectable .tbody > *.sel > * { background-color:var(--color-selectable-sel); }
.se_table.selectable tbody tr.mod td, .se_table.selectable .tbody > *.mod > * { background-color:var(--color-selectable-mod); }

/* Special elements */
.se_table .actions { display:flex; flex-wrap:wrap; gap:4px; }
.se_table input { display:block; width:100%; background-color:var(--color-body-normal-bkg); color:var(--color-body-normal-txt); }
.se_table td.tNumber { text-align:right; }

.se_table tfoot td, .se_table .tfoot > * > * { padding:3px; }
.se_table tfoot td.tRight, .se_table .tfoot > * > *.tRight { text-align:right; }
/* */

/* - END:TABLAS - */